
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{

    margin: 0;
    padding: 0;
}


.text-transform{
    transform: rotate(10deg);
}



html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 10px
}

.logo1{
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo1 img{
    width: 100%;
    border: 3px solid white;
    border-radius: 10px

}

.logo3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo3 img{
    width: 45%;
    border: 3px solid white;
    border-radius: 10px

}

.navbar{
    background: rgb(14 76 67 / 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0 ;
    cursor: pointer;
    z-index: 3;


}


.nav-list1{
    width: 40%;
    display: flex;
    align-items: center;
}

.nav-list{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.nav-list li{
    list-style: none;
    padding: 15px 30px;
    margin: 10px 10px;
    background: rgb(62 112 105 / 90%);
    border-radius: 66px;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(220, 247, 225);
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;

}

.nav-list li:hover{
    text-decoration: none;
    color: rgb(233, 174, 152);
    background: black;
}

.rightnav{ 
    width: 30%;
    text-align: right;
    padding: 0 25px;

}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background3{
    background-color: rgb(69 55 42);
}

.background1{
    background: rgb(172, 224, 197);
    background-size: cover;
    background-blend-mode: darken;
}
.background2{
    background:rgba(255, 244, 244, 0.7) ;
    background-size: cover;
    background-blend-mode: darken;
}
.background{
    background:rgba( 0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}





.text-big{

    background: #8ccc8b;
    border-radius: 10px;
    text-align: center;
    font-size: 41px;
    margin: 5%
   

}

.text-small{
    font-size: 18px;
    margin: 5%;
    text-align: center;
    background: #b2dcb1;
    border-radius: 10px;
}

.btn{
    padding: 8px 20px;
    margin: 1px 25px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

}

.btn-sm{
    padding: 5px 8px;
    vertical-align: middle;
    font-size: 14px;


}

.btn-dark{
    color: black;
    border: 2px solid gray;
}












.xy{
    background: linear-gradient(to right top, rgba(223, 101, 217, 0.3), rgba(235, 108, 108, 0.7));
    background-size: cover;
}


.xy1{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*

.heading1{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    transform: rotate(45deg);
}
.heading2{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    transform: rotate(-45deg);
}


.ice-cream{
    height: 7rem;
    width: 4rem;
      background-color: #fff1c1;
      border-radius: 99vw 99vw 30rem 30rem;

}
.its-stick{
    height: 3rem;
    width: 1rem;
    background-color:#a64942;
    border-radius: 0vw 0vw 10rem 10rem;



}

*/

.dubba-parent{

    
    display: flex;
    justify-content: center;
    text-align:center;
 

}

.dubba{
    background-color: #759f79b5;
    
    height: 200px;
    width: 200px;
    border-radius: 1rem 1rem;
    transform: rotate(45deg);
    margin-top: 50px;
}


.dubba-text{
    height: 100px;
    width: 150px;
  
    font-size: 2rem;
    transform: rotate(-45deg);
    margin-top: 54px;
    margin-left: 30px;
    font-family: 'Ubuntu', sans-serif;

}




.emoji1{
     
        position: absolute;
        top: 30%;
        left: 35%;
        font-size: xxx-large;
    
}


.emoji2{
    position: absolute;
    top: 30%;
    right:  35%;
    font-size: xxx-large;
    
}





.R{
    color: black;
}

.SQL{
    color: black;
}

.Python{
    color: black;
}

.PHP{
    color: black;
}

.DATA{
    color: black;
}

.CSS{
    color: black;
}




.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    column-gap: 35rem;
    /* grid-gap: 4rem; */
    row-gap: 5rem;

    padding: 100px 135px;
   
   
}

.box {
    background: linear-gradient(to right bottom, 
                    rgba(255,225,225,0.8),
                    rgba(255,225,225,0.3));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    font-size: xx-large;
    text-align: center;
    padding: 1em;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
    border-radius: 15px 10vw;
     }

     .box:hover{
         background: linear-gradient(to right top, 
         rgba(0, 0, 0, 0.8),
         rgba(0, 0, 0, 0.3)); 
         border-radius:  10vw  15px;
         color: white;
     }



    /* .squre1,
     .squre2,
     .squre3,
     .squre4
     {
         background: linear-gradient(to right bottom, 
                    rgba(255,225,225,0.8),
                    rgba(255,225,225,0.3));
        height: 10rem;
        width: 10rem;
        position: absolute;
        border-radius: 10px 4vw;
       
     }

     
    

.squre1 {
    top: 23%;
    right: 59%;
     }
     
     .squre2{
        bottom: 13%;
        left: 40%;
     }

     .squre3{
        top: 82%;
        right: 40%;
     }
     .squre4{
        bottom: 48%;
        left: 59%;
     }
     
     
     
*/

















.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #baecec;
    
    }
    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    
    .sec1{
       display: flex;
       flex-direction: row;
       justify-content: left;
       align-items: center;
    
    }
    
    .logo-footer{
        width: 23%;
        display: flex;
        
        align-items: center;
    }
    .logo-footer img{
        width: 70%;
        border: 3px solid white;
        border-radius: 10px
    }
    
    .useless-text{
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 50px;
    }
    
    
    
    .site-name{
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
    }
    
    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 40%;
    }
    
    .group{
        width: 20%;
        display: flex;
        justify-content:left;
        align-items: center;
    }
    
    
    
    .log1{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 50%;
    }
    .log2{
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .log3{
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .log4{
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .log1 img , .log2 img ,.log3 img,.log4 img {
        border-radius: 50%;
    }
        
    
    
    .burger{
        display: none;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 15px;
    
    }
    
    
    .line{
        width: 33px;
        background-color: white;
        height: 4px;
        margin: 5px 3px;
    }